@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


body {
 background-color: azure;
 -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color:rgba(33,37,41);
}

#logo {
  font-family: 'Grechen Fuemen', cursive;
  font-size: 22px;
}

footer {
  position: fixed;
  padding-top: 10px;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: whitesmoke;
}


.form {
  border-radius: 5px;
  padding: 30px 30px 50px;
  width: 600px;
  background-color: rgba(33,37,41);
  color: whitesmoke;
}

.wine-card {
  border: 1px solid gray;
  padding: 20px;
}


@media screen and (max-width: 600px) {
  .form {
    width: auto;
  }
}




