@media screen {

  body {
    background-image: url("https://images.unsplash.com/photo-1578911373434-0cb395d2cbfb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: repeat;
  }

  .wrapper {
    background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
    border-radius: 10px;
  }

  nav {
    margin: 30px;
  }
 
  h2, h3, h4 {
    text-align: center;
  }

  li {
    margin-bottom: 8px;
  }

  img {
    border: 1px solid black; /* black border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 150px; /* Set a small height */
  }

  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  } 
 
  .profile-info {
    font-size: 1.2rem;
  }

  .tasting-notes {
    padding-top: 8px;
  }

  footer.branding {
    text-align: right;
  }

  .error {
    color: red;
  }
  .message {
    color: green;
  }

  .greeting {
    text-align: center;
  }

  .btn.btn-default {
    margin-top: 5px;
    border: 2px solid black;
  }

  .btn.btn-default:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


}