<div class="container">
  <div class="row">
    <div class="col text-center">
     <h3>Login to your account</h3>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/login" method="POST">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="chandra@example.com" name="email">
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-dark">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>