<div class="profile-info">
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>

<% if @user == current_user %>
  <a class="btn btn-default" href="/users/<%= @user.id %>/edit" role="button">Edit Profile</a>

  <form>
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-default" type="submit" value="Delete Account">
  </form>
<% end %>
