<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>MeroWinenotes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a id="logo" class="navbar-brand" href="/">MeroWineNotes</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/wines">Wines</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="users/<%= current_user.id %>">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wines/new">Add Wine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Other Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/users/new">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

<div class="wrapper container-fluid mt-2">

  <% if flash[:error] %>
    <em class="error"><%= flash[:error] %></em>
  <% end %>

  <% if flash[:message] %>
    <em class="message"><%= flash[:message] %></em>
  <% end %>

  

    <%= yield %>

  <footer class="fixed-bottom">
    <small>&copy; 2020 <strong>MeroWinenotes</strong></small>
  </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
