<div class="row m-3">
  <div class="col text-center fs-2"><h1>Welcome to MeroWinenotes!</h1></div>
</div>

<% if !logged_in? %>
  <div class="row mb-3">
    <div class="col text-center fs-4"><h4>Log in or Sign up for an account.</h4></div>
  </div>


  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <a href="/login" class="btn btn-dark ms-3 mb-3">Login</a>
        <a href="/users/new" class="btn btn-dark mb-3 ms-3">Sign Up</a>
      </div>
    </div>
  <div>
<% end %>

<div class="row">
  <div class="col text-center">
    <img src="/images/wine-img.jpg" class="img-fluid rounded" alt="Wine Image">
  </div>
</div>

 











